/*navbar style*/
.navbar {
	background: #f97300;
}

.nav-link,
.navbar-brand {
	color: #f4f4f4;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	background: #f4f4f4;
	color: #f97300;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-toggler {
	background: #fff !important;
}

.bg-dark {
	background-color: #343a40 !important;
}

/*header style*/
.header {
	background-image: url("../images/headerback.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.71);
}

.description {
	position: absolute;
	top: 30%;
	margin: auto;
	padding: 2em;
}
.description h1 {
	color: #0089f9;
}

.description p {
	color: #666;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
	margin: auto;
}
.description button {
	border: 1px solid #0089f9;
	border: 1px solid #0089f9;
	background: #0089f9;
	color: #fff;
}

/* About Section Style */
.about {
	margin: 4em 0;
	padding: 1em;
	position: relative;
}
.about h1 {
	color: #f97300;
	margin: 2em;
}
.about img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.about span {
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc {
	padding: 2em;
	border-left: 4px solid #05a1d1;
}
.about .desc h3 {
	color: #05a1d1;
}
.about .desc p {
	line-height: 2;
	color: #888;
}
